{% include "header.html" %}

<style>
    .container {
        text-align: center;
        margin: 50px auto;
        color: white;
        font-family: Arial, sans-serif;
    }
    
    .left-content h1 {
        font-size: 32px;
        font-weight: bold;
        color: white;
        line-height: 1.4;
       
    }
    
    .username {
        position: relative;
        display: inline-block;
        color: white;
        font-weight: bold;
        z-index: 1;
        padding: 0 8px;

        color: white; /* Text color */
        background: linear-gradient(45deg, white, orange, lightpink);
        {% comment %} display: inline-block; {% endcomment %}
        backdrop-filter: blur(5px);
    }
    
    .username::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        z-index: -1;
        transform: translateY(-50%);
        height: 1.2em;
        background: url('https://static.vecteezy.com/system/resources/thumbnails/047/831/112/small_2x/vibrant-watercolor-brushstroke-in-rainbow-colors-perfect-for-art-projects-backgrounds-or-creative-designs-png.png') no-repeat center;
        background-size: 300px ; 
    }
</style>


<div class="container">
    <div class="left-content">
        <h1>
            Hello <span class="username">{{user.first_name}} {{user.last_name}}</span>, Welcome to Our Cloud Kitchen Blog
        </h1>
        <p>Discover the best dishes and explore unique flavors from our kitchen!</p>
    </div>
</div>
