{% include "header.html" %}
<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold"></span>
                <span class="text-black-50"></span>
                <span></span>
            </div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <br>
                <div class="row mt-2">
                    <div class="col-md-6"><label class="labels">UserName</label><input type="text" class="form-control" value="{{ user.username }}" ></div>
                    <br>
                    <div class="col-md-6"><label class="labels">Firstname</label><input type="text" class="form-control" value="{{ user.first_name }}" ></div>
                    <br>
                    <div class="col-md-6"><label class="labels">Lastname</label><input type="text" class="form-control" value="{{ user.last_name }}" ></div>
                    <br>
                    <div class="col-md-6"><label class="labels">Email ID</label><input type="text" class="form-control" value="{{ user.email }}" ></div>
                </div>
                <br>
                <form method="post" id="customerform" action="{% url 'delete' user.id %}">
                    {% csrf_token %}
                    <div class="input-box">
                        <input type="submit" class="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this user?');">
                    </div>
                </form>
                <form method="post" id="customerform" action="">
                    {% csrf_token %}
                    <br>
                    <div class="input-box">
                        <input type="submit" class="submit" value="Update" onclick="return confirm('Are you sure you want to update the details?');">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>